.app {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.app--song-selector {
  width: 100%;
  max-width: 400px;
  flex-grow: 1;
}

.video-player {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-grow: 3;
  height: 100%;
  width: 100%;
}
